body {
    background-color: white;
}

.black1 {
    background-color: black;
    width: 600px;
    height: 600px;
    display: flex;
    border: 5px solid black;
}

.orange1 {
    background-color: orange;
    width: 600px;
    height: 90px;
    display: flex;

}

.red {
    background-color: red;
    width: 150px;
    height: 400px;
    display: flex;
}

.green {
    background-color: green;
    width: 150px;
    height: 400px;
    display: flex;
}

.blue {
    background-color: blue;
    width: 150px;
    height: 400px;
    display: flex;
}

.black {
    background-color: black;
    width: 150px;
    height: 400px;
    display: flex;
}

.orange2 {
    background-color: orange;
    width: 600px;
    height: 110px;
    display: flex;
}
